{{% block content %}
<h1>Rent List</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" >
      {% for p in object_list %}
              <p>user: {{ p.user }}</p>
              <p>car: {{ p.car }}</p>
              <p>start: {{ p.start }}</p>
              <p>stop: {{ p.stop }}</p>
              <p>fee: {{ p.fee }}</p>
              <br>
      {% empty %}
          <div class="jumbotron">
          <h1>No car!</h1>  
          </div>
      {% endfor %}
    </div>  
  </div>
</div>
{% endblock %}